@model IEnumerable<Foodies.Models.User>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/animate.css" rel="stylesheet" />
<link href="~/css/font-awesome.css" rel="stylesheet" />
<link href="~/css/responsive.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />


<h1>Customer Dashboard</h1>


<div class="row">
    <div class="col-md-8">
        <form asp-action="Search">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="form-control" id="search" name="search" />
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Search" class="btn btn-success mr-2" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2">

        <form asp-action="GetAll">
            <input type="submit" value="Refresh" class="btn btn-success mr-2" />
        </form>

    </div>
</div>

<h2>Restaurants</h2>

<table class="table" id="tblrest">
    <thead>
        <tr>
            <th>
                RestaurantLogo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                Book Order
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <form>
                <tr>
                    <td>
                        <img src="~/images/pizzhut.png" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                        <input asp-for="@item.UserId" type="hidden" value="@item.UserId" id="userid" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                        <input asp-for="@item.FullName" type="hidden" value="@item.FullName" id="fullname" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)

                        <input asp-for="@item.Address" type="hidden" value="@item.Address" id="address" />
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary"><a style="color:white; text-decoration:none;" onclick="OrderOnline()">Order Now</a></button>
                    </td>
                </tr>
                </form>
            }
        }
    </tbody>
</table>

<script>
    function OrderOnline() {
        var id = $("#userid").val();
        var name = $("#fullname").val();
        var add = $("#address").val();

        var obj = {
            "UserId": id,
            "FullName": name,
            "Address": add
        }
        Submit(obj);
    }

    function Submit(obj) {
        console.log(obj);
        $.ajax({
            url: "/Customer/OrderOnline",
            type: "POST",
            data: obj,
            success: function (data) {
                window.location.href = '@Url.Action("OrderOnline", "Customer")';
                /*console.log(data);*/
            },
            error: function (data) {
                console.error(error);
            }
        })
    }
</script>
