@model IEnumerable<Foodies.Models.RestMenu>

@{
    ViewData["Title"] = "OrderOnline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/animate.css" rel="stylesheet" />
<link href="~/css/font-awesome.css" rel="stylesheet" />
<link href="~/css/responsive.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />


<h1>Order Online  @ViewBag.FullName</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Select Items
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Quantity
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input asp-for="@item.HasSelect type="checkbox" value="@item.HasSelect" id="hasselect" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                    <input asp-for="@item.UserId" type="hidden" value="@item.UserId" id="userid" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                    <input asp-for="@item.FoodName" type="hidden" value="@item.FoodName" id="foodname" />
                </td>
                <td>
                    <img src="~/images/pizz.png" style="height:50px; width:50px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                    <input asp-for="@item.Price" type="hidden" value="@item.Price" id="price" />
                </td>
                <td>
                    <select asp-for="@item.Quantity" id="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </td>
            </tr>
        }
    </tbody>
</table>


<button type="submit" class="btn btn-dark"><a asp-controller="Customer" asp-action="OrderNow" style="color:white; text-decoration:none;" onclick="Booknow()">Order Now</a></button>


<script>
    function Booknow() {
        var hasselect = $("#hasselect").val();
        var id = $("#userid").val();
        var foodname = $("#foodname").val();
        var price = $("#price").val();
        var quantity = $("#quantity").val();

        var obj = {
            "HasSelect": hasselect,
            "UserId": id,
            "FoodName": foodname,
            "Price": price,
            "Quantity": quantity
        }
        Submitform(obj);
    }

    function Submitform(obj) {
        console.log(obj);
        $.ajax({
            url: "/Customer/OrderNow",
            type: "POST",
            data: obj,
            success: function (data) {
                console.log(data);
            },
            error: function (data) {
                console.error(error);
            }
        })
    }
</script>