@model IEnumerable<Foodies.Models.RestMenu>

@{
    ViewData["Title"] = "OrderOnline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/animate.css" rel="stylesheet" />
<link href="~/css/font-awesome.css" rel="stylesheet" />
<link href="~/css/responsive.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />


<h1>Order Online  @ViewBag.FullName</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Select Items
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Quantity
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="list">
                <td class="cont">
                    <input asp-for="@item.HasSelect type="checkbox" value="@item.HasSelect" id="check_@item.FoodId" class="chbox" />
                </td>
                <td class="cont">
                    @Html.DisplayFor(modelItem => item.RestId)
                    <input asp-for="@item.RestId" type="hidden" value="@item.RestId" id="restid" />
                </td>
                <td class="cont">
                    @Html.DisplayFor(modelItem => item.FoodName)
                    <input asp-for="@item.FoodName" type="hidden" value="@item.FoodName" id="foodname" />
                </td>
                <td class="cont">
                    <img src="~/images/pizz.png" style="height:50px; width:50px;" />
                </td>
                <td class="cont">
                    @Html.DisplayFor(modelItem => item.Price)
                    <input asp-for="@item.Price" type="hidden" value="@item.Price" id="price" />
                </td>
                <td class="cont">
                    <select asp-for="@item.Quantity" id="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </td>
            </tr>
        }
    </tbody>
</table>


<button type="submit" class="btn btn-dark"><a style="color:white; text-decoration:none;" onclick="Booknow()">Order Now</a></button>


<script>


    function Booknow() {
        var Cart = [];

        $('tr#list').each(function (index, e) {

            var a = $(this).find(".chbox");
            if ($(a).prop("checked") == true) {
                let food = {
                    "RestId": $(this).find('#restid').val(),
                    "FoodName": $(this).find('#foodname').val(),
                    "Price": $(this).find('#price').val(),
                    "Quantity": $(this).find('#quantity').val()
                }
                Cart.push(food);
            }
        })
        console.log(Cart);
        $.ajax({
            type: "POST",
            url: "/Customer/CartSummary",
            data: {listbookorderviewmodel: Cart},
            
            dataType: "json",
            success: function (data) {
                window.location.href = '@Url.Action("OrderNow", "Customer")';
                },
            error: function (data) {
                    console.error(error);
                }
                })
    }


</script>