@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-danger">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand"asp-controller="Restaurant" asp-action="RestDash">Dashboard</a>
                </div>
                <ul class="nav navbar-nav">
                   

                    <li class="active nav-item"><a  class="nav-link text-dark"asp-controller="Restaurant" asp-action="AddMenu">Add Menu</a></li>
                    <li  class="nav-item"><a class="nav-link text-dark" asp-controller="Restaurant" asp-action="ViewOrder">View Order</a></li>


                </ul>
                <ul class="nav navbar-nav navbar-right text-danger">
                    @if (!String.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("Email")))
                    {
                        <li class="nav-item"><a class="nav-link text-dark"> @HttpContextAccessor.HttpContext.Session.GetString("Email")</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Account" asp-action="Logut">Logut</a></li>
                    }

                    else
                    {
                        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a></li>
                    }

                </ul>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
        </div>
        <!-- Copyright -->
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="js/sidemenu.js"></script>
</body>
</html>
